/*
  0. Do whatever you want with this file.
*/

/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400&family=Roboto:wght@400&family=Roboto+Condensed:wght@400&display=swap');

body{
	margin: 0 auto;
	color: #222;
	font-family: 'Karla', Arial, sans-serif;
	background: #cbcbcb;
}
header{
	position: fixed;
	top: 0px;
	width: 100%;
	background: #f9f9f9;
	border-bottom: 1px solid #387eb0;
	-webkit-box-shadow:  0px 0px 5px 0px #387eb0;
    box-shadow:  0px 0px 5px 0px #387eb0;
}
#logo{
	float: left;
	margin-left: 1em;
}
#logo h1{
	font-size: 1.5em;
	margin: 0px;
	line-height: 50px;
	font-family: 'Roboto Condensed', sans-serif;
}
nav{
	float: right;
	margin-right: 1em;
	font-size: 16px;
	font-family: 'Roboto Condensed';
	line-height: 50px;
}
nav ul{
	padding: 0px;
	margin: 0px;
}
nav li{
	display: inline;
	margin-left: 5px;
}
nav a{
	color: #222;
	text-decoration: none;
	border-bottom: none;
}
nav a:hover{
	color: #387eb0;
}
nav li.current{
	border-bottom: 1px #222 dotted;
}

section{
	margin: 4em 1em 0em 1em;
	padding: 10px 40px 10px 40px;
	background: #f9f9f9;
	-webkit-box-shadow:  0px 0px 2px 0px #dedcdd;
    box-shadow:  0px 0px 2px 0px #dedcdd;
	-webkit-border-radius: 5px;
	border-radius: 5px; 
}
.h-mirror{
	-moz-transform: matrix(-1, 0, 0, 1, 0, 0);
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
    -o-transform:matrix(-1, 0, 0, 1, 0, 0);
}
footer{
	color: #222;
	margin: 15px;
	text-align: center;
}
footer a{
	border-bottom: none;
}


/* Commun */
a{
	color: #387eb0;
	text-decoration: none;
	border-bottom: #387eb0 1px dotted;
}
a:hover{
	color: #387eb0;
	border: none;
}
code{
	padding: 1px;
	padding-left: 2px;
	padding-right: 2px;
	background: #eff1f0;
	border: 1px solid #ccc;
}
pre{
	background: #eff1f0;
	padding: 10px;
	margin: 5px 15px 15px 0px;
	border: 1px solid #80bbe5;
	border-radius: 3px;
}
pre code{
	border: none;
}

img{
	border: 0 none;
}
p{
	margin-top: 15px;
	margin-bottom: 15px;
}
h2 a, h3 a{
	border: none;
}
